<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music Player :: Albums</title>
  </head>
  <body>
    <div>
      <%- include('partials/navbar') %>
    </div>
    <h1>Albums</h1>
    <ul>
      <li>Aretha's Jazz</li>
      <li>Days of Wine and Roses</li>
      <li>Young, Gifted and Black</li>
    </ul>

  </body>
</html>
