<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music Player :: Albums :: ALBUM TITLE</title>
  </head>
  <body>
    <div>
      <%- include('partials/navbar') %>
    </div>
    <h1>ALBUM TITLE</h1>
    <ul>
      <li>Song title 1</li>
      <li>Song title 2</li>
      <li>Song title 3</li>
    </ul>

  </body>
</html>
