<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Music Player</title>
  </head>
  <body>
    <div>
      <%- include('partials/navbar') %>
    </div>
    <div>
      <h1>Artists</h1>
      <% artists.forEach((artist) => { %>
        <a href="/artists/<%= artist.id %>">
          <p><%= artist.name %></p>
        </a>
          <p>Genre: <%= artist.genre %></p>
      <% }) %>
    </div>
  </body>
</html>
