<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music Player</title>
  </head>
  <body>
    <div>
      <%- include('partials/navbar') %>
    </div>
    <h1>Artists</h1>
    <ul>
      <li>Aretha Franklin</li>
      <li>Art Tatum</li>
      <li>Bill Evans</li>
    </ul>

  </body>
</html>
