<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Music Player :: Songs</title>
  </head>
  <body>
    <div>
      <%- include('partials/navbar') %>
    </div>
    <h1>Songs</h1>
    <div>
      <p>Song</p>
      <p>Artist</p>
      <p>Album</p>
      <p>Length</p>
    </div>
  </body>
</html>
